body {
    background-image: url(/img/travel.jpg);
}

.autonomiaViagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    opacity: 85%;
    max-width: 600px;
    max-height: 600px;
    display: inline-block;
}

.infAutonomiaViagem {
    padding: 5px;
    display: flex; /* Alterado para usar flexbox */
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.infoViagem {
    min-width: 200px;
    min-height: 20px;
    border-radius: 6px;
    border: 1px solid;
    padding: 10px;
    display: inline-block; /* Alterado para "inline-block" para manter o tamanho mínimo */
    margin-left: 10px; /* Adicionado para criar um espaço entre os inputs */
}

label {
    margin-left: 20px;
}

.calc {
    border-radius: 8px;
    border-color: rgb(155, 155, 155);
    display: inline;
    justify-content: center;
}